/*
Author: Leysa Sol Acosta Diaz
*/
/* 
    Created on : 27/03/2021, 21:59:59
    Author     : Leysa Sol Acosta Diaz
*/
footer {  
    background: linear-gradient(to right, transparent, rgb(75,56,50));  
    text-align: center;
} 
header {  
    background: linear-gradient(to right, transparent, rgb(75,56,50));  
}

main {  
    margin-top: 50px;  
}
nav.navbar{
    background: linear-gradient(to right, transparent, rgb(75,56,50)); 
}
.img1 {
    margin-top: 0px;
    width:20%;
    height:20%;
    object-fit: cover;
}
.img2 {
    margin-top: 5px;
    width:50%;
    height:50%;
    object-fit: cover;
    align-content: center;
}
.color1{
    background: linear-gradient(transparent,transparent, rgb(190,155,123));
    margin: 10px;
}
.color2{
    background: linear-gradient(transparent, rgb(190,155,124));
    margin: 10px;
}
.color3{
    background:rgb(227,207,170);
    margin: 10px;
}

.font1{

    font-family:sans-serif;
    color:#743535;
}
h1{
    font-weight: bold;
    font-family:sans-serif;
    color:#743535;
}
h3{
    text-align: center;
    font-family:sans-serif;
    color:#743535;
}

h5{
    text-align: center;
    font-family:sans-serif;
    color:#fff;
    height: 150%;
    font-size: 400%;
    text-shadow: 0px 0px 9px #000000;
}

p{
    text-align: center;
    height: 500%;
    font-size: 150%;
    font-family:sans-serif; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}




.slide{

    margin-top: 10px;
    margin-right: 150px;
    margin-left: 150px;
}

.slide img{
    height: 80vh;
}

.boton1 {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 15px;
    font-weight: 400;
    padding: 0.5em 1.2em;
    background: rgb(210, 180, 140);
    border: 2px solid;
    border-color: rgb(210, 180, 140);
    position: relative ;
}
.boton1:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(222, 184, 135, 1);
    transition: all 0.2s ease;
}
form {
    display: grid;
    border-radius: 5px;
    grid-template-columns: 300px 3fr;
    background-color: rgba(210, 180, 140,.4);;
    border-color: rgb(210, 180, 140);
    margin: 10px;
    align-content: center;
}
